<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Plasma</key>
	<string>7633.jpg</string>
	<key>Wood</key>
	<string>284-v4.jpg</string>
	<key>Stone</key>
	<string>5004-v8.jpg</string>
	<key>Carbon</key>
	<string>8938.jpg</string>
	<key>Weave</key>
	<string>7768-v4.jpg</string>
	<key>Felt</key>
	<string>green_felt.jpeg</string>
	<key>Lines</key>
	<string>7083.jpg</string>
	<key>Barge</key>
	<string>3706-v8.jpg</string>
</dict>
</plist>
