<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GameScreen</key>
	<dict>
		<key>backingTexture</key>
		<string>Background.png</string>
		<key>UIElements</key>
		<dict>
			<key>BackButton</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>buttonBack:</string>
				<key>autoScale</key>
				<true/>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>controlRect</key>
				<string>285,315,5,35</string>
				<key>textureKeyActive</key>
				<string>BackButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>BackButtonUp.png</string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>NotificationBox</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>fullScreen</key>
				<false/>
				<key>controlRect</key>
				<string>5,42,75,335</string>
				<key>labelScale</key>
				<string>.7</string>
				<key>backingTexture</key>
				<string>ButtonUp.png</string>
				<key>label</key>
				<string>--</string>
				<key>depth</key>
				<integer>5</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>ResetButton</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>resetBoard:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>5,35,5,35</string>
				<key>downAudioKey</key>
				<string>Clear</string>
				<key>textureKeyActive</key>
				<string>ResetButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>ResetButtonUp.png</string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<key>HomeScreen</key>
	<dict>
		<key>class</key>
		<string>qrHomeScreen</string>
		<key>backingTexture</key>
		<string>Background.png</string>
		<key>UIElements</key>
		<dict>
			<key>MuteButton</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>buttonMute:</string>
				<key>autoScale</key>
				<true/>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>controlRect</key>
				<string>285,315,5,35</string>
				<key>textureKeyActive</key>
				<string>ButtonMute.png</string>
				<key>textureKeyInactive</key>
				<string>ButtonUnmute.png</string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>Backing</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>fullScreen</key>
				<true/>
				<key>backingTexture</key>
				<string>MainScreen.png</string>
				<key>controlRect</key>
				<string>0,320,0,480</string>
				<key>depth</key>
				<integer>10</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>SPButton</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>buttonSinglePlayer:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>160,185,150,330</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>Single Player</string>
				<key>textureKeyActive</key>
				<string>ButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>ButtonUp.png</string>
				<key>_textureKeyActive</key>
				<string></string>
				<key>_textureKeyInactive</key>
				<string></string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>TPButton</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>buttonTwoPlayer:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>190,215,150,330</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>Two Player</string>
				<key>textureKeyActive</key>
				<string>ButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>ButtonUp.png</string>
				<key>_textureKeyActive</key>
				<string></string>
				<key>_textureKeyInactive</key>
				<string></string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>BTButton</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>buttonNetworkGame:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>220,245,150,330</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>Two Player (Network)</string>
				<key>textureKeyActive</key>
				<string>ButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>ButtonUp.png</string>
				<key>_textureKeyActive</key>
				<string></string>
				<key>_textureKeyInactive</key>
				<string></string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>Instructions</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>buttonInstructions:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>250,275,150,330</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>How To Play</string>
				<key>textureKeyActive</key>
				<string>ButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>ButtonUp.png</string>
				<key>_textureKeyActive</key>
				<string></string>
				<key>_textureKeyInactive</key>
				<string></string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<key>SPGameScreen</key>
	<dict>
		<key>class</key>
		<string>qrSinglePlayerGameScreen</string>
		<key>backingTexture</key>
		<string>Background.png</string>
		<key>UIElements</key>
		<dict>
			<key>BackButton</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>buttonBack:</string>
				<key>autoScale</key>
				<true/>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>controlRect</key>
				<string>285,315,5,35</string>
				<key>textureKeyActive</key>
				<string>BackButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>BackButtonUp.png</string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>Backing</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>fullScreen</key>
				<true/>
				<key>backingTexture</key>
				<string>SPScreen.png</string>
				<key>controlRect</key>
				<string>0,320,0,480</string>
				<key>depth</key>
				<integer>10</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>Title</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>fullScreen</key>
				<true/>
				<key>controlRect</key>
				<string>25,65,0,480</string>
				<key>label</key>
				<string>Single Player Game</string>
				<key>depth</key>
				<integer>5</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>Difficult</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>controlRect</key>
				<string>100,130,270,380</string>
				<key>label</key>
				<string>Difficulty</string>
				<key>centerText</key>
				<false/>
				<key>depth</key>
				<integer>5</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>FirstMove</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>controlRect</key>
				<string>165,195,270,380</string>
				<key>label</key>
				<string>First Move</string>
				<key>centerText</key>
				<false/>
				<key>depth</key>
				<integer>5</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>PlayButton</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>startGame:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>275,305,150,330</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>Play!</string>
				<key>_textureKeyActive</key>
				<string></string>
				<key>_textureKeyInactive</key>
				<string></string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>Hard</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>difficultyChanged:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>130,160,120,200</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>Hard</string>
				<key>textureKeyActive</key>
				<string>ButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>ButtonUp.png</string>
				<key>labelUpScale</key>
				<real>0.7</real>
				<key>labelDownScale</key>
				<real>0.6</real>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>Medium</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>difficultyChanged:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>130,160,200,280</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>Medium</string>
				<key>textureKeyActive</key>
				<string>ButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>ButtonUp.png</string>
				<key>labelUpScale</key>
				<real>0.7</real>
				<key>labelDownScale</key>
				<real>0.6</real>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>Easy</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>difficultyChanged:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>130,160,280,360</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>Easy</string>
				<key>textureKeyActive</key>
				<string>ButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>ButtonUp.png</string>
				<key>labelUpScale</key>
				<real>0.7</real>
				<key>labelDownScale</key>
				<real>0.6</real>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>PlayerFirst</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>firstPlayChanged:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>195,225,120,200</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>Player</string>
				<key>textureKeyActive</key>
				<string>ButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>ButtonUp.png</string>
				<key>labelUpScale</key>
				<real>0.7</real>
				<key>labelDownScale</key>
				<real>0.6</real>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>ComputerFirst</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>firstPlayChanged:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>195,225,200,280</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>Computer</string>
				<key>textureKeyActive</key>
				<string>ButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>ButtonUp.png</string>
				<key>labelUpScale</key>
				<real>0.7</real>
				<key>labelDownScale</key>
				<real>0.6</real>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>RandomFirst</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>firstPlayChanged:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>195,225,280,360</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>Random</string>
				<key>textureKeyActive</key>
				<string>ButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>ButtonUp.png</string>
				<key>labelUpScale</key>
				<real>0.7</real>
				<key>labelDownScale</key>
				<real>0.6</real>
				<key>depth</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<key>TPGameScreen</key>
	<dict>
		<key>class</key>
		<string>qrMPGameScreen</string>
		<key>backingTexture</key>
		<string>Background.png</string>
		<key>UIElements</key>
		<dict>
			<key>BackButton</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>buttonBack:</string>
				<key>autoScale</key>
				<true/>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>controlRect</key>
				<string>285,315,5,35</string>
				<key>textureKeyActive</key>
				<string>BackButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>BackButtonUp.png</string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>Backing</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>fullScreen</key>
				<true/>
				<key>backingTexture</key>
				<string>SPScreen.png</string>
				<key>controlRect</key>
				<string>0,320,0,480</string>
				<key>depth</key>
				<integer>10</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>Heading</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>controlRect</key>
				<string>100,130,270,380</string>
				<key>label</key>
				<string>Available Peers</string>
				<key>centerText</key>
				<false/>
				<key>depth</key>
				<integer>5</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>NoPeers</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>controlRect</key>
				<string>150,175,230,250</string>
				<key>label</key>
				<string>Searching For Opponents...</string>
				<key>centerText</key>
				<true/>
				<key>depth</key>
				<integer>5</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>Title</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>fullScreen</key>
				<true/>
				<key>controlRect</key>
				<string>25,65,0,480</string>
				<key>label</key>
				<string>Local Network Game</string>
				<key>depth</key>
				<integer>5</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>PlayButton</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>startGame:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>275,305,150,330</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>Play</string>
				<key>_textureKeyActive</key>
				<string></string>
				<key>_textureKeyInactive</key>
				<string></string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>ScrollUp</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>scrollUp:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>102,132,130,170</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>textureKeyInactive</key>
				<string>ScrollUp.png</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>ScrollDown</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>scrollDown:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>220,250,130,170</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>textureKeyInactive</key>
				<string>ScrollDown.png</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<key>InstructionsScreen</key>
	<dict>
		<key>_class</key>
		<string>qrInstructionsScreen</string>
		<key>backingTexture</key>
		<string>Background.png</string>
		<key>UIElements</key>
		<dict>
			<key>BackButton</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>buttonBack:</string>
				<key>autoScale</key>
				<true/>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>controlRect</key>
				<string>285,315,5,35</string>
				<key>textureKeyActive</key>
				<string>BackButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>BackButtonUp.png</string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>Backing</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>fullScreen</key>
				<true/>
				<key>backingTexture</key>
				<string>SPScreen.png</string>
				<key>controlRect</key>
				<string>0,320,0,480</string>
				<key>depth</key>
				<integer>10</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>Title</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>fullScreen</key>
				<true/>
				<key>controlRect</key>
				<string>25,65,0,480</string>
				<key>label</key>
				<string>How To Play</string>
				<key>depth</key>
				<integer>5</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>NextPage</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>nextPage:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>275,305,150,330</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>Next</string>
				<key>_textureKeyActive</key>
				<string></string>
				<key>_textureKeyInactive</key>
				<string></string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<key>StatsScreen</key>
	<dict>
		<key>class</key>
		<string>qrStatsScreen</string>
		<key>backingTexture</key>
		<string>Background.png</string>
		<key>UIElements</key>
		<dict>
			<key>BackButton</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>buttonBack:</string>
				<key>autoScale</key>
				<true/>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>controlRect</key>
				<string>285,315,5,35</string>
				<key>textureKeyActive</key>
				<string>BackButtonDown.png</string>
				<key>textureKeyInactive</key>
				<string>BackButtonUp.png</string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
			<key>Backing</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>fullScreen</key>
				<true/>
				<key>backingTexture</key>
				<string>SPScreen.png</string>
				<key>controlRect</key>
				<string>0,320,0,480</string>
				<key>depth</key>
				<integer>10</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>Title</key>
			<dict>
				<key>class</key>
				<string>vrTextBox</string>
				<key>fullScreen</key>
				<true/>
				<key>controlRect</key>
				<string>25,65,0,480</string>
				<key>label</key>
				<string>How To Play</string>
				<key>depth</key>
				<integer>5</integer>
				<key>autoScale</key>
				<true/>
			</dict>
			<key>ResetButton</key>
			<dict>
				<key>class</key>
				<string>vrButton</string>
				<key>callback</key>
				<string>resetStats:</string>
				<key>autoScale</key>
				<true/>
				<key>controlRect</key>
				<string>275,305,150,330</string>
				<key>downAudioKey</key>
				<string>ButtonPress</string>
				<key>label</key>
				<string>Reset</string>
				<key>_textureKeyActive</key>
				<string></string>
				<key>_textureKeyInactive</key>
				<string></string>
				<key>labelUpScale</key>
				<string>.8</string>
				<key>labelDownScale</key>
				<string>.7</string>
				<key>depth</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<key>TPBeginGame</key>
	<dict>
		<key>class</key>
		<string>vrModalDialog</string>
		<key>backingTexture</key>
		<string>DialogBacking.png</string>
		<key>acceptSelector</key>
		<string>acceptConnection</string>
		<key>buttonCount</key>
		<integer>1</integer>
		<key>buttonWidth</key>
		<integer>140</integer>
		<key>buttonHeight</key>
		<integer>30</integer>
		<key>windowRect</key>
		<string>100,220,400,80</string>
		<key>strings</key>
		<array>
			<string>Connection With</string>
			<string>-</string>
			<string>Sucessful !</string>
		</array>
		<key>acceptButton</key>
		<dict>
			<key>class</key>
			<string>vrButton</string>
			<key>autoScale</key>
			<true/>
			<key>downAudioKey</key>
			<string>ButtonPress</string>
			<key>label</key>
			<string>Play !</string>
			<key>textureKeyActive</key>
			<string>ButtonDown.png</string>
			<key>textureKeyInactive</key>
			<string>ButtonUp.png</string>
			<key>labelUpScale</key>
			<string>.8</string>
			<key>labelDownScale</key>
			<string>.7</string>
			<key>depth</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>TPAcceptDialog</key>
	<dict>
		<key>class</key>
		<string>vrModalDialog</string>
		<key>backingTexture</key>
		<string>DialogBacking.png</string>
		<key>acceptSelector</key>
		<string>acceptConnection</string>
		<key>buttonCount</key>
		<integer>2</integer>
		<key>buttonWidth</key>
		<integer>100</integer>
		<key>buttonHeight</key>
		<integer>30</integer>
		<key>windowRect</key>
		<string>100,220,400,80</string>
		<key>strings</key>
		<array>
			<string>Accept Connection From</string>
			<string>- placeholder -</string>
		</array>
		<key>acceptButton</key>
		<dict>
			<key>class</key>
			<string>vrButton</string>
			<key>autoScale</key>
			<true/>
			<key>downAudioKey</key>
			<string>ButtonPress</string>
			<key>label</key>
			<string>Accept</string>
			<key>textureKeyActive</key>
			<string>ButtonDown.png</string>
			<key>textureKeyInactive</key>
			<string>ButtonUp.png</string>
			<key>labelUpScale</key>
			<string>.8</string>
			<key>labelDownScale</key>
			<string>.7</string>
			<key>depth</key>
			<integer>5</integer>
		</dict>
		<key>declineButton</key>
		<dict>
			<key>class</key>
			<string>vrButton</string>
			<key>autoScale</key>
			<true/>
			<key>downAudioKey</key>
			<string>ButtonPress</string>
			<key>label</key>
			<string>Decline</string>
			<key>textureKeyActive</key>
			<string>ButtonDown.png</string>
			<key>textureKeyInactive</key>
			<string>ButtonUp.png</string>
			<key>labelUpScale</key>
			<string>.8</string>
			<key>labelDownScale</key>
			<string>.7</string>
			<key>depth</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>TPOpponentReset</key>
	<dict>
		<key>class</key>
		<string>vrModalDialog</string>
		<key>backingTexture</key>
		<string>DialogBacking.png</string>
		<key>acceptSelector</key>
		<string>acceptConnection</string>
		<key>buttonCount</key>
		<integer>1</integer>
		<key>buttonWidth</key>
		<integer>480</integer>
		<key>buttonHeight</key>
		<integer>320</integer>
		<key>windowRect</key>
		<string>100,220,400,80</string>
		<key>strings</key>
		<array>
			<string> </string>
			<string>Opponent Has</string>
			<string>Reset The Board...</string>
		</array>
		<key>acceptButton</key>
		<dict>
			<key>class</key>
			<string>vrButton</string>
			<key>autoScale</key>
			<true/>
			<key>downAudioKey</key>
			<string>ButtonPress</string>
			<key>labelUpScale</key>
			<string>.8</string>
			<key>labelDownScale</key>
			<string>.7</string>
			<key>depth</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SPReset</key>
	<dict>
		<key>class</key>
		<string>vrModalDialog</string>
		<key>backingTexture</key>
		<string>DialogBacking.png</string>
		<key>acceptSelector</key>
		<string>startGame:</string>
		<key>buttonCount</key>
		<integer>1</integer>
		<key>buttonWidth</key>
		<integer>480</integer>
		<key>buttonHeight</key>
		<integer>320</integer>
		<key>windowRect</key>
		<string>120,200,360,120</string>
		<key>strings</key>
		<array>
			<string> </string>
			<string>Board Reset</string>
			<string>  </string>
		</array>
		<key>acceptButton</key>
		<dict>
			<key>class</key>
			<string>vrButton</string>
			<key>autoScale</key>
			<true/>
			<key>downAudioKey</key>
			<string>ButtonPress</string>
			<key>labelUpScale</key>
			<string>.8</string>
			<key>labelDownScale</key>
			<string>.7</string>
			<key>depth</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>TPConnectionFailed</key>
	<dict>
		<key>class</key>
		<string>vrModalDialog</string>
		<key>backingTexture</key>
		<string>DialogBacking.png</string>
		<key>buttonCount</key>
		<integer>1</integer>
		<key>buttonWidth</key>
		<integer>480</integer>
		<key>buttonHeight</key>
		<integer>320</integer>
		<key>windowRect</key>
		<string>100,220,400,80</string>
		<key>strings</key>
		<array>
			<string>Connection To</string>
			<string>--</string>
			<string>Failed...</string>
		</array>
		<key>acceptButton</key>
		<dict>
			<key>class</key>
			<string>vrButton</string>
			<key>autoScale</key>
			<true/>
			<key>downAudioKey</key>
			<string>ButtonPress</string>
			<key>labelUpScale</key>
			<string>.8</string>
			<key>labelDownScale</key>
			<string>.7</string>
			<key>depth</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>TPNoPeers</key>
	<dict>
		<key>class</key>
		<string>vrModalDialog</string>
		<key>backingTexture</key>
		<string>DialogBacking.png</string>
		<key>buttonCount</key>
		<integer>1</integer>
		<key>buttonWidth</key>
		<integer>480</integer>
		<key>buttonHeight</key>
		<integer>320</integer>
		<key>windowRect</key>
		<string>100,220,400,80</string>
		<key>strings</key>
		<array>
			<string>No Opponent Connected!</string>
		</array>
		<key>acceptButton</key>
		<dict>
			<key>class</key>
			<string>vrButton</string>
			<key>autoScale</key>
			<true/>
			<key>downAudioKey</key>
			<string>ButtonPress</string>
			<key>labelUpScale</key>
			<string>.8</string>
			<key>labelDownScale</key>
			<string>.7</string>
			<key>depth</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>TPNoBluetooth</key>
	<dict>
		<key>class</key>
		<string>vrModalDialog</string>
		<key>backingTexture</key>
		<string>DialogBacking.png</string>
		<key>acceptSelector</key>
		<string>acceptConnection</string>
		<key>buttonCount</key>
		<integer>1</integer>
		<key>buttonWidth</key>
		<integer>480</integer>
		<key>buttonHeight</key>
		<integer>320</integer>
		<key>windowRect</key>
		<string>100,220,400,80</string>
		<key>strings</key>
		<array>
			<string>No Opponent Connected!</string>
		</array>
		<key>acceptButton</key>
		<dict>
			<key>class</key>
			<string>vrButton</string>
			<key>autoScale</key>
			<true/>
			<key>downAudioKey</key>
			<string>ButtonPress</string>
			<key>labelUpScale</key>
			<string>.8</string>
			<key>labelDownScale</key>
			<string>.7</string>
			<key>depth</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>TPDisconnectDialog</key>
	<dict>
		<key>class</key>
		<string>vrModalDialog</string>
		<key>backingTexture</key>
		<string>DialogBacking.png</string>
		<key>acceptSelector</key>
		<string>buttonBack:</string>
		<key>buttonCount</key>
		<integer>1</integer>
		<key>buttonWidth</key>
		<integer>480</integer>
		<key>buttonHeight</key>
		<integer>320</integer>
		<key>windowRect</key>
		<string>100,220,400,80</string>
		<key>strings</key>
		<array>
			<string>Your opponent has</string>
			<string>disconnected...</string>
		</array>
		<key>acceptButton</key>
		<dict>
			<key>class</key>
			<string>vrButton</string>
			<key>autoScale</key>
			<true/>
			<key>downAudioKey</key>
			<string>ButtonPress</string>
			<key>labelUpScale</key>
			<string>.8</string>
			<key>labelDownScale</key>
			<string>.7</string>
			<key>depth</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>InstructionsDialog</key>
	<dict>
		<key>class</key>
		<string>qrInstructionsScreen</string>
		<key>backingTexture</key>
		<string>DialogBacking.png</string>
		<key>buttonCount</key>
		<integer>3</integer>
		<key>buttonWidth</key>
		<integer>90</integer>
		<key>buttonHeight</key>
		<integer>30</integer>
		<key>windowRect</key>
		<string>65,255,440,40</string>
		<key>acceptButton</key>
		<dict>
			<key>class</key>
			<string>vrButton</string>
			<key>autoScale</key>
			<true/>
			<key>downAudioKey</key>
			<string>ButtonPress</string>
			<key>label</key>
			<string>Next</string>
			<key>textureKeyActive</key>
			<string>ButtonDown.png</string>
			<key>textureKeyInactive</key>
			<string>ButtonUp.png</string>
			<key>labelUpScale</key>
			<string>.8</string>
			<key>labelDownScale</key>
			<string>.7</string>
			<key>depth</key>
			<integer>5</integer>
		</dict>
		<key>declineButton</key>
		<dict>
			<key>class</key>
			<string>vrButton</string>
			<key>autoScale</key>
			<true/>
			<key>label</key>
			<string>Done</string>
			<key>downAudioKey</key>
			<string>ButtonPress</string>
			<key>textureKeyActive</key>
			<string>ButtonDown.png</string>
			<key>textureKeyInactive</key>
			<string>ButtonUp.png</string>
			<key>labelUpScale</key>
			<string>.8</string>
			<key>labelDownScale</key>
			<string>.7</string>
			<key>depth</key>
			<integer>5</integer>
		</dict>
		<key>cancelButton</key>
		<dict>
			<key>class</key>
			<string>vrButton</string>
			<key>autoScale</key>
			<true/>
			<key>label</key>
			<string>Prev</string>
			<key>downAudioKey</key>
			<string>ButtonPress</string>
			<key>textureKeyActive</key>
			<string>ButtonDown.png</string>
			<key>textureKeyInactive</key>
			<string>ButtonUp.png</string>
			<key>labelUpScale</key>
			<string>.8</string>
			<key>labelDownScale</key>
			<string>.7</string>
			<key>depth</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
